<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<system.web>
    <compilation debug="true" targetFramework="4.0.1"/>
  </system.web>-->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <extensions>
      <behaviorExtensions>
        <add name="silverlightFaultBehavior" type="Microsoft.Activities.ServiceModel.SilverlightFaultElement, Microsoft.Activities" />
        <add name="workflowServiceTraceBehavior" type="Microsoft.Activities.Diagnostics.WorkflowServiceTraceElement, Microsoft.Activities" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <silverlightFaultBehavior />
          <workflowServiceTraceBehavior />
          <sqlWorkflowInstanceStore instanceCompletionAction="DeleteAll" instanceEncodingOption="None" instanceLockedExceptionAction="NoRetry" connectionStringName="ApplicationServerWorkflowInstanceStoreConnectionString" hostLockRenewalPeriod="00:00:30" runnableInstancesDetectionPeriod="00:00:05" />
          <etwTracking profileName="Troubleshooting Tracking Profile" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics etwProviderId="1a66db0d-cbff-4ad5-bd9b-04c80424e012">
      <endToEndTracing propagateActivity="true" messageFlowTracing="true" />
    </diagnostics>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <microsoft.applicationServer>
    <monitoring>
      <default enabled="true" connectionStringName="ApplicationServerMonitoringConnectionString" monitoringLevel="Troubleshooting" />
    </monitoring>
  </microsoft.applicationServer>
</configuration>