<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0.1" />
  </system.web>
<system.serviceModel>
  <extensions>
    <behaviorExtensions>
      <!-- Used for tracking StateMachines -->
      <add name="stateTracking" type="Microsoft.Activities.Extensions.ServiceModel.StateMachineTrackingElement, Microsoft.Activities.Extensions"/>
      <!-- Output tracking to VS Debug Window -->
      <add name="workflowServiceTrace" type="Microsoft.Activities.Extensions.Diagnostics.WorkflowServiceTraceElement, Microsoft.Activities.Extensions" />       
    </behaviorExtensions>
  </extensions>

  <behaviors>
    <serviceBehaviors>
      <behavior>
        <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
        <serviceMetadata httpGetEnabled="true"/>
        <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
        <serviceDebug includeExceptionDetailInFaults="false"/>
        <!-- Enable persistence -->
        <sqlWorkflowInstanceStore connectionString="Data Source=.\SQLExpress;Initial Catalog=SampleInstanceStore;Integrated Security=True;Asynchronous Processing=True"/>
        <!-- Enable tracking of state machines -->
        <stateTracking />
        <!-- Output tracking to VS Debug Window -->
        <workflowServiceTrace />
      </behavior>
    </serviceBehaviors>
  </behaviors>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
</system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
